<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>AdminLogServlet</servlet-name>
    <servlet-class>action.AdminLogServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogRegServlet</servlet-name>
    <servlet-class>action.LogRegServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>action.CourseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>action.StudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AllCourseServlet</servlet-name>
    <servlet-class>action.AllCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TabBarsServlet</servlet-name>
    <servlet-class>action.TabBarsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>action.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogServlet</servlet-name>
    <url-pattern>/servlet/AdminLogServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogRegServlet</servlet-name>
    <url-pattern>/servlet/LogRegServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/servlet/CourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/servlet/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllCourseServlet</servlet-name>
    <url-pattern>/servlet/AllCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TabBarsServlet</servlet-name>
    <url-pattern>/servlet/TabBarsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/servlet/IndexServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>EncodingFilter</filter-name>			 	<!--过滤器名称-->
  	<filter-class>filter.EncodingFilter</filter-class>		<!--过滤器的完整类名-->  
  	<init-param> <!--初始化参数-->  
  		<param-name>encoding</param-name>	<!--参数名称--> 
  		<param-value>UTF-8</param-value>	<!--参数值-->  
  	</init-param>
  </filter>
  <filter-mapping>	<!--过滤器映射--> 
  	<filter-name>EncodingFilter</filter-name>	<!--过滤器名称-->   
  	<url-pattern>/*</url-pattern>				<!--URL映射，给所有页面处理乱码--> 
  </filter-mapping>
</web-app>